/* font-family: "Segoe WP Light"; */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Segoe WP Light";
  src: url("../fonts/segoe-wp-light.ttf"); }

.navbar-default {
  padding: 20px 0; }
  .navbar-default .navbar-nav > li > a {
    display: inline-block;
    padding: 25px 32px 0 0;
    color: #919191;
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer; }
    .navbar-default .navbar-nav > li > a:after {
      display: block;
      content: "";
      height: 3px;
      width: 0;
      background-color: #5094f2;
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      position: relative;
      top: 23px; }
    .navbar-default .navbar-nav > li > a:focus:after {
      width: 100%; }
    .navbar-default .navbar-nav > li > a:hover:after {
      width: 100%; }

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 70px;
  color: #404040;
  font-size: 42px;
  line-height: 20px; }

.carousel-caption {
  margin-left: 327px;
  margin-bottom: 109px; }
  .carousel-caption h1, .carousel-caption p {
    font-size: 44px;
    font-weight: 100;
    text-align: left; }
  .carousel-caption .btn-lg {
    width: 175px;
    font-size: 22px;
    border-radius: 1px; }
  .carousel-caption .glyphicon-ok-sign {
    margin-right: 8px; }

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Segoe WP Light", sans-serif;
  line-height: 1.5;
  background-color: #ffffff; }

.page-header {
  margin: 0;
  padding-bottom: 0;
  border-bottom: medium none; }

.navbar-header {
  background: url("../images/icon-hdr.png");
  background-repeat: no-repeat; }

.home-slider {
  margin-top: -20px; }

.carousel-inner img {
  width: 100%; }

.home-about {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(50.5%, transparent), color-stop(50.5%, white)), -webkit-gradient(linear, right top, left bottom, color-stop(50.5%, transparent), color-stop(50.5%, white));
  background-image: -webkit-linear-gradient(top left, transparent 50.5%, white 50.5%), -webkit-linear-gradient(top right, transparent 50.5%, white 50.5%);
  background-image: -o-linear-gradient(top left, transparent 50.5%, white 50.5%), -o-linear-gradient(top right, transparent 50.5%, white 50.5%);
  background-image: linear-gradient(to bottom right, transparent 50.5%, white 50.5%), linear-gradient(to bottom left, transparent 50.5%, white 50.5%);
  background-repeat: repeat-x, repeat-x;
  background-position: 20px 1px, 20px 1px;
  background-size: 20px 20px, 20px 20px;
  position: relative;
  top: -10px;
  padding: 85px 0 0 0; }
  .home-about__wrapper {
    padding: 0 45px; }
  .home-about__icon img {
    -webkit-filter: saturate(0.8);
    filter: saturate(0.8);
    -webkit-transition: -webkit-filter 0.25s ease 0s;
    transition: -webkit-filter 0.25s ease 0s;
    -o-transition: filter 0.25s ease 0s;
    transition: filter 0.25s ease 0s;
    transition: filter 0.25s ease 0s, -webkit-filter 0.25s ease 0s; }
    .home-about__icon img:hover {
      -webkit-filter: saturate(1);
      filter: saturate(1); }
  .home-about__text {
    color: #bcbcbc;
    font-size: 15px; }

.home-product {
  padding: 40px 0; }
  .home-product__title {
    margin: 40px 0 25px 0;
    color: #6f7173;
    font-size: 40px; }
  .home-product__subtitle {
    margin: 84px 0 22px 0;
    color: #6f7173;
    font-size: 25px; }
  .home-product__content {
    color: #909090;
    font-size: 15px;
    line-height: 40px; }

.page-footer {
  padding: 25px 0;
  border-top: 2px solid #e5e5e5; }
  .page-footer__copyright p {
    color: #979797;
    font-size: 15px; }

@media (max-width: 767px) {
  .home-about {
    background: none; }
    .home-about__wrapper {
      padding: 30px 0 15px 0;
      border-bottom: 2px solid #cccccc; }
    .home-about__icon img {
      width: 50%; }
    .home-about__link {
      font-size: 20px; }
    .home-about__text {
      text-align: left;
      font-size: 19px; }
  .home-product {
    padding: 40px 0; }
    .home-product__image img {
      width: 50%; }
    .home-product__title {
      margin: 40px 0 25px 0;
      color: #6f7173;
      font-size: 35px; }
    .home-product__subtitle {
      margin: 84px 0 22px 0;
      color: #6f7173;
      font-size: 34px; }
    .home-product__content {
      color: #909090;
      font-size: 17px;
      line-height: 40px; } }
